@{
    ViewBag.Title = "Create new user";
}

<div class="container">
    <div class="login-window">
        <div class="row">
            <div class="col-sm-6 col-xs-12 login-large-icon">
                <i class="fas fa-user icon"></i>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h1>Create new user</h1>

                @using (Html.BeginForm("CreateUser", "User", FormMethod.Post, new { id = "main-form", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username">
                            <small id="emailHelp" class="form-text text-muted">
                                Your username has to be unique!
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                        </div>
                        <button type="submit" class="btn btn-block btn-success">Create User</button>
                    </form>
                }

                @if (ViewBag.Error != null)
                {
                    <div class="mt-3">
                        <p class="text-danger"><i class="fas fa-exclamation-circle"></i> @ViewBag.Error</p>
                    </div>
                }

                <div class="mt-3">
                    <a href="/Home/Index"><span><i class="fas fa-long-arrow-alt-left"></i> Go back</span></a>
                </div>
            </div>

        </div>
    </div>
</div>


